body {
#	background-color: #0684FC;
	font-size:25px;
	font-family:consolas;
	color:#252525;
}
a{
#	background-color:#0684FC;
}
.span_blog a:link {color: #FFFFFF}
.span_blog a:visited {color: #FFFFFF}
.span_blog a:hover {color: #FF00FF}
.span_blog a:active {color: #FFFFFF}
#a_blog{
	float:right;
}
